!!!5
%html
  %head
    =jqm_local_init do
      :javascript
        $(document).bind('mobileinit',function(){
        
          $.mobile.touchOverflowEnabled = true;

          $(':jqmData(url^=nlist)').live('pagebeforecreate', 
            function(event) {
              $(this).filter(':jqmData(url*=ui-page)').find(':jqmData(role=header)')
                .prepend('<a href="#" data-rel="back" data-icon="back">Back</a>')
            });
        });
    %title Using mHaml
  %body

    -kontent_for :kt_header_log_set do |locals, subs|
      =button :href => "logout", :html => "Logout"
      %h1 SPREAD
      =button :href => "settings", :icon => "gear", :theme => "b", :html => "Settings"
      =toolbar locals[:page_id],                                          |
        [ {:icon => "home",   :href => "#home",     :html => "Home"},     |
          {:icon => "search", :href => "#contacts", :html => "Contacts"}, |
          {:icon => "info",   :href => "#events",   :html => "Events"},   |
          {:icon => "grid",   :href => "#nlist",    :html => "News"}      ]

    -kontent_for :kt_footer_navbar do |locals, subs|
      =toolbar locals[:page_id],                                  |
        [ {:icon => "home",  :href => "#home",  :html => "Home"}, |
          {:icon => "alert", :href => "#help",  :html => "Help"}, |
          {:icon => "grid",  :href => "#nlist", :html => "List"}  ]

    // with same pipeline
    // using [locals, subs]
    // we make no assumptions
    // about what shape footer or header will look like
    // so dependency injection works
    -kontent_for :kt_page_full_fixed do |locals, subs|
      =page :id => locals[:page_id], :fullscreen => "true" do
        =header :position => "__fixed__" do
          =kontent :kt_header, locals, subs
        =content do
          =kontent :kt_content, locals, subs
        =footer :position => "fixed", :data_id => "footer_navbar" do
          =kontent :kt_footer, locals, subs

    // for true dependency injection
    // wish we could do this
    // _______________________________
    //-kontent_for :kt_page_full_fixed___partial_filled do |locals, subs|
    //  -kontent_fill :kt_page_full_fixed_basis,   |
    //    { },                                |
    //    { :kt_header => :kt_header_log_set, |
    //      :kt_footer => :kt_footer_navbar   }
    //
    // if 'kontent' is full eval
    // 'kontent_fill' is partial eval
    //
    //  what happens to toolbar if href is external
    //  need page_id somehow
    //  parse url and get the hash part
    //
    //
    //
    //
    //
    //
    //
    //
    //

    =kontent :kt_page_full_fixed,         |
      { :page_id => "home"},              |
      { :kt_header => :kt_header_log_set, |
        :kt_footer => :kt_footer_navbar   } do
      -kontent_for :kt_content do |locals, subs|
        =button :href => "#book", :html => "book", :transition => "slide"
        =button :href => "#page3", :rel => "dialog", :transition => "pop", :html => "Test Dialog"
        =button :href => "#navtest", :html => "Test Navbar"
        %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

    =kontent :kt_page_full_fixed,         |
      { :page_id => "help"},              |
      { :kt_header => :kt_header_log_set, |
        :kt_footer => :kt_footer_navbar   } do
      -kontent_for :kt_content do |locals, subs|
        %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        =collapsible_set :content_theme => "a" do
          =collapsible do
            %h3 some stuff
            %p help stuff
          =collapsible do
            %h3 some more stuff
            %p help stuff
            =collapsible :content_theme => "b", :theme => "a" do
              %h3 some more stuff
              %p help stuff
              =collapsible :content_theme => "a", :theme => "b" do
                %h3 some more stuff
                %p help stuff
        =button :inline => "true", :html => "one"
        =button :inline => "true", :html => "two"
        =button :inline => "true", :html => "three"

        =controlgroup do
          =button :html => "one"
          =button :html => "two"
          =button :html => "three"

        =controlgroup :type => "horizontal" do
          =button :html => "one"
          =button :html => "two"
          =button :html => "three"

        =listview :inset => "true" do
          =list_divider :html => "Group A"
          =lia :icon => "home", :href => "#page1", :html => "Home"
          =lia :icon => "alert", :href => "#help", :html => "Help"
          =list_divider :html => "Today"
          =lia :icon => "home", :href => "#page1", :html => "Home"
          =lia :icon => "alert", :href => "#help", :html => "Help"


    =kontent :kt_page_full_fixed,         |
      { :page_id => "nlist"},             |
      { :kt_header => :kt_header_log_set, |
        :kt_footer => :kt_footer_navbar   } do
      -kontent_for :kt_content do |locals, subs|
        =listview do
          =lia :icon => "home", :href => "#page1", :html => "Home"
          =li :html => "Countries" do
            =li :html => "Korea" do
              =li :html => "Seoul"
              =li :html => "Pusan"
            =li :html => "Japan" do
              =li :html => "Tokyo"
              =li :html => "Osaka"

    =page :id => "book", :add_back_btn => "true" do
      =header do
        /=button :href => "cancel", :icon => "delete" do
        /  Cancel
        %h1 Book Properties
        =button :href => "save", :icon => "check", :theme => "e", :html => "Save"
      =content do
        %h2 Up and Running with jQuery Mobile
        %p
          Author:
          %b Maximiliano Firtman
        %p
          This book has no reviews yet on our database.
        =button :href => "#confirm" , :rel => "dialog", :html => "Delete this book"
        =button :href => "#page1" , :rel => "dialog", :html => "Modify this book"
      =footer :class => "ui-bar" do
        =button :href => "refresh", :html => "Refresh"
        =button :href => "filter", :html => "Filter"
        =button :href => "Search", :html => "Search"
        =button :href => "add", :theme => "b", :html => "New Item"
